:root{
    --dark: #17181E;
    --blue: #849BEB;
    --lightBlue: #C4D5FC;
    --green: #25D952;
    --light: #F0F0F1;
    --gray: #6B6B7C;
    --dimmedLight: #BBBBBB;
    --pink: #DDC2D4;
    --content: #1E1F27;
    --hover-color: rgba(255, 141, 141, 0.15);
    --green-hover: rgba(37, 217, 82, 0.49);
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--dark);
    font-family: Helvetica, Arial, sans-serif;
    color: var(--light);
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#container .top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container .top img{
    width: 200px;
}

#container .top h1{
    font-size: 26px;
    margin: 5px;
}