:root{
    --dark: #17181E;
    --blue: #849BEB;
    --green: #25D952;
    --light: #F0F0F1;
    --gray: #6B6B7C;
    --dimmedLight: #BBBBBB;
    --green-hover: rgba(37, 217, 82, 0.3);
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--dark);
    font-family: Helvetica, Arial, sans-serif;
    color: var(--light);
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#container #box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--light);
    padding: 10px;
    border-radius: 10px;
    padding: 40px;
}

#container .top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container .top img{
    width: 200px;
}

#container .top h1{
    font-size: 26px;
    font-weight: 600;
    margin: 5px;
    background-color: var(--blue);
    background:linear-gradient(to right, var(--blue), var(--lightBlue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#container .converter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#container .converter p{
    font-size: 16px;
    font-weight: 400;
    margin: 10px;
}

#container .converter input{
    width: 300px;
    height: 20px;
    border: 1px solid var(--light);
    border-radius: 5px;
    padding: 10px;
    background-color: var(--dark);
    color: var(--light);
    text-align: center;
}

#container .result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    height: 200px;
    width: 300px;
    border: 1px solid var(--light);
    border-radius: 5px;
    padding: 10px;
}

#container .button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    gap: 30px;
}

#container .button button{
    width: 145px;
    height: 40px;
    border: 1px solid var(--light);
    border-radius: 5px;
    background-color: var(--gray);
    color: var(--light);
    cursor: pointer;
}

#container .button button:hover{
    box-shadow: 0 0 10px 10px var(--green-hover);
}

 
